{% extends 'eventbrite/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

  <head>
    <style>
      .tilak-image {
        width: 500px;
        height: 600px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 500px;
      }

    </style>
  </head>

  <body>
    <div class="tilak-image mt-5 ml-5">
      <img src="https://m.media-amazon.com/images/I/41LfqqusWgL._SX342_SY445_QL70_FMwebp_.jpg" alt="Lokmanya Tilak">
    </div>
  </body>

</html>

{% endblock %}
